#game {
  background-color: #5c5c5c;
  padding: 0;
  margin: auto;
  display: block;
  border-radius: 5px;
}

#title {
  text-align: center;
  font-size: 60px;
  color: white;
  font-family: courier;
  margin-bottom: 10px;
}

body {
  background-color: black;
}

button {
  margin-top: 25px;
  width: 130px;
}
